= turbo_frame_tag 'search-results' do
  - if @tickets.present?
    .table-responsive
      %table.table.table-hover{style: 'background-color: white;'}
        %thead
          %tr
            %th{scope: "col"} #Ticket No
            %th{scope: "col"} Subject
            %th{scope: "col"} Created On
            %th{scope: "col"} Source
            %th{scope: "col"} Status
        %tbody
          - @tickets.each do |ticket|
            %tr
              %th{scope: "row"}= ticket['id']
              %td
                = link_to ticket['subject'].truncate(50), ticket_path(id: ticket['id'])
              %td= ticket['created_at'].to_datetime.strftime('%b-%d-%Y %H:%M')
              %td= ticket['via']['channel'].eql?('api') ? 'web' : ticket['via']['channel']
              %td.m-1{class: status_klass(ticket['status']) }= ticket['status']
  - else
    .row
      .col-md-2
      .col-md-8
        %p.m-3.mx-auto
          %p Dear #{session[:canvas_user_name]}
          If you're encountering an issue or have a query that requires assistance, we're here to help! To ensure prompt and effective support, please take a moment to create a new support ticket by providing details of your issue or inquiry using the following link.
        %button.btn.btn-success.has-icon.mx-auto{"data-target" => "#threadModal", "data-toggle" => "modal", type: "button"}
          %svg.feather.feather-plus.mr-2{fill: "none", height: "24", stroke: "currentColor", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2", viewbox: "0 0 24 24", width: "24", xmlns: "http://www.w3.org/2000/svg"}
            %line{x1: "12", x2: "12", y1: "5", y2: "19"}
            %line{x1: "5", x2: "19", y1: "12", y2: "12"}
          CREATE TICKET
      .col-md-2
